body {
	background: #ffe;
}

h1, h2, h3, h4, h5, h6, th {
	color: #440;
}

a {
	color: #663;
}

a:visited {
	color: #633;
}

a:hover {
	color: #a11;
}

a:active {
	color: #d22;
}

.currentsection {
	background-color: #dda;
}

.bottomMargin {
	margin-bottom: 1em;
}

address {
	margin-top: 1em;
}

@media print {
	body {
		background: #fff;
	}

	h1, h2, h3, h4, h5, h6, th {
		color: #000;
	}

	nav {
		display: none;
	}

	.screenOnly {
		display: none;
	}
}

@media screen {
	.printOnly {
		display: none;
	}
}

html {
  font-size: 12px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; 
}

table.zebra { text-align: left; }
.zebra tr:nth-child(even) { background: #dda; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	display: none;
}

input[type=number] {
	-moz-appearance: textfield;
}
