<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../static/css/default.css">
<title>
Go ladder -
{% if is_new %}
add player
{% else %}
edit player "{{player.name}}"
{% endif %}
</title>
</head>

<body>
<h1>
Go ladder -
{% if is_new %}
add player
{% else %}
edit player "{{player.name}}"
{% endif %}
</h1>
<form method="POST"
{% if is_new %}
action="/add_player"
{% else %}
action="/player/{{player.id}}"
{% endif %}
>
<table>
<tr>
<td><label for="pname">Name</label>
<td><input type="text" name="name" id="pname" value="{{player.name}}" required>
<tr>
<td><label for="pinitialrating">Initial rating</label>
<td><input type="text" name="initialrating" id="pinitialrating" value="{{player.rating}}">
<tr>
<td><label for="pdefaultschedule">Schedule by default</label>
<td><input type="checkbox" name="defaultschedule" id="pdefaultschedule"
{% if presence.default %}
checked
{% endif %}
>
{% for pround in presence.rounds %}
<tr>
<td><label for="pschedule{{pround.round_id}}">Schedule on {{pround.round_date}}</label>
<td><select id="pschedule{{pround.round_id}}" name="schedule{{pround.round_id}}">
<option value="default" {% if pround.is_default() %}selected{% endif %}>Default</option>
<option value="true" {% if pround.is_present() %}selected{% endif %}>Present</option>
<option value="false" {% if pround.is_absent() %}selected{% endif %}>Absent</option>
</select>
{% endfor %}
<tr>
<td colspan="2">
<input type="submit"
{% if is_new %}
value="Add player"
{% else %}
value="Save changes"
{% endif %}
>
<a href="../players">Cancel</a>
</table>
</form>
</body>
</html>
