{% extends "base.html" %}

{% block head %}
{% let section = "presence" %}
<style>
.specificPresence {
	font-weight: bold;
}
</style>
{% endblock %}

{% block body %}
<h1>Go ladder - presence overview on {{today}}</h1>
<table id="presenceTable" class="zebra">
<tr>
<th rowspan="2">Name
{% for month in rounds %}
<th colspan="{{ month.rounds.len() }}">{{ month.year_and_month }}
{% endfor %}
<th rowspan="2">Default
<tr>
{% for month in rounds %}
{% for round in month.rounds %}
<th>{{ round.day() }}
{% endfor %}
{% endfor %}
{% for player in players %}
<tr><td>{{player.name}}
{% for presence in player.presences %}
<td class="{% if presence.is_some() %}specificPresence{% endif %}">
{{ player.format_round_presence(presence) }}
{% endfor %}
<td>{{ player.format_default_presence() }}
{% endfor %}
</table>
{% endblock %}
