<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../static/css/default.css">
<title>Scheduling round on {{round.date}}</title>
<style>
.clickableText {
	cursor: default;
}
</style>
<script>
'use strict';
function setAllCheckboxes(form, state) {
	var elems = form.querySelectorAll('input[type="checkbox"].pairplayer');
	for (var i = 0; i < elems.length; i++)
		elems[i].checked = state;
	verifyEven(form);
}

function verifyEven(form) {
	var n = 0;
	var elems = form.querySelectorAll('input[type="checkbox"].pairplayer');
	for (var i = 0; i < elems.length; i++)
		if (elems[i].checked)
			n++;
	var submit = form.querySelector('input[type="submit"]');
	if ((n & 1) != 0) {
		submit.title = 'Cannot schedule an odd number of players.';
		submit.disabled = true;
	} else {
		submit.title = '';
		submit.disabled = false;
	}
}

function setGame(id, value) {
	var elem = document.getElementById('g' + id);
	elem.value = value;
}

function setAllGames(form, state) {
	var elems = form.querySelectorAll('select.editgame');
	for (var i = 0; i < elems.length; i++)
		elems[i].value = state;
}

window.addEventListener('load', function() {
	verifyEven(document.getElementById('pairform'));
}, false);
</script>
</head>

<body>
<h1><span class="screenOnly">Scheduling round</span><span class="printOnly">Scheduled games</span> on {{round.date}}</h1>
<form id="pairform" action="/schedule/{{round.id}}" method="POST">
<h2 class="screenOnly">Scheduled games</h2>
{% if games.len() != 0 %}
<table class="zebra">
<tr><th colspan="2">Black<th colspan="2">White<th>Handicap<th>Result<th class="screenOnly">Action
{% for game in games %}
<tr><td onclick="setGame({{game.id}}, 'BlackWins')" class="clickableText">{{game.black.name}}<td>{{game.black.rating.rank()}}
<td onclick="setGame({{game.id}}, 'WhiteWins')" class="clickableText">{{game.white.name}}<td>{{game.white.rating.rank()}}
<td>{{game.handicap}}
<td><span{% if game.result.is_unknown() %} class="screenOnly"{% endif %}>{{game.result}}</span>
<td class="screenOnly"><select name="action{{game.id}}" id="g{{game.id}}" class="editgame">
<option value="" selected>--</option>
{% if game.result.0.is_some() %}
<option value="delete">Delete game</option>
<option value="None">Clear result</option>
{% else %}
<option value="delete">Unpair</option>
{% endif %}
<option value="BlackWins">Black wins</option>
<option value="WhiteWins">White wins</option>
<option value="Jigo">Jigo</option>
<option value="BlackWinsByDefault">White forfeits</option>
<option value="WhiteWinsByDefault">Black forfeits</option>
<option value="BothLose">Both forfeit</option>
</select>
{% endfor %}
</table>
<span class="screenOnly">
<input type="button" value="Mark all for deletion" onclick="setAllGames(this.form, 'delete')">
<input type="button" value="Unmark all" onclick="setAllGames(this.form, '')">
<br>
</span>
{% else %}
<p>No games.</p>
{% endif %}
<h2>Unpaired players</h2>
{% if presences.len() != 0 %}
<table class="zebra">
<tr><th colspan="2">Player<th class="screenOnly">Pair
{% for presence in presences %}
<tr>
<td><label for="p{{presence.player.id}}">{{presence.player.name}}</label>
<td>{{presence.player.rating.rank()}}
<td class="screenOnly"><input type="checkbox" name="p{{presence.player.id}}" id="p{{presence.player.id}}" class="pairplayer" onclick="verifyEven(this.form)">
{% endfor %}
</table>
<span class="screenOnly">
<input type="button" value="Select all" onclick="setAllCheckboxes(this.form, true)">
<input type="button" value="Deselect all" onclick="setAllCheckboxes(this.form, false)">
<br>
</span>
{% else %}
{% if is_past %}
<p>Pairing is not useful for a round in the past.</p>
{% else %}
<p>All present players paired.</p>
{% endif %}
{% endif %}
<div class="screenOnly">
<h2>Custom game</h2>
<table class="zebra">
  <tr><th>Black<th>White<th>Handicap<th>Result
  <tr>
    <td>
      <select name="customblack">
        <option value="">-- Select player for black --</option>
        {% for player in all_players %}
        <option value="{{ player.id }}">{{ player.name }} ({{ player.rating.rank() }})</option>
        {% endfor %}
      </select>
    <td>
      <select name="customwhite">
        <option value="">-- Select player for white --</option>
        {% for player in all_players %}
        <option value="{{ player.id }}">{{ player.name }} ({{ player.rating.rank() }})</option>
        {% endfor %}
      </select>
    <td>
      <input name="customhandicap" placeholder="standard">
    <td>
      <select name="customresult">
        <option value="None">Not known yet</option>
        <option value="BlackWins">Black wins</option>
        <option value="WhiteWins">White wins</option>
        <option value="Jigo">Jigo</option>
        <option value="BlackWinsByDefault">White forfeits</option>
        <option value="WhiteWinsByDefault">Black forfeits</option>
        <option value="BothLose">Both forfeit</option>
      </select>
</table>
<br>
<input type="submit" value="Apply changes">
<a href="..">Cancel</a>
</div> <!-- class="screenOnly" -->
</form>
<address>{{ self.prog_name() }} {{ self.version() }}</address>
</body>
</html>

