{% extends "base.html" %}

{% block head %}
{% let section = "standings" %}
<style type="text/css">
.hideGames .individualGame {
	display: none;
}
</style>
<script>
'use strict';
function toggleShowGames(checkbox) {
	var table = document.getElementById('playersTable');
	if (checkbox.checked)
		table.classList.remove('hideGames');
	else
		table.classList.add('hideGames');
}
</script>
{% endblock %}

{% block body %}
<h1>Go ladder - standings on {{today}}</h1>
<div class="screenOnly bottomMargin">
  <label for="showGames">Show individual games</label><input type="checkbox" id="showGames" onclick="return toggleShowGames(this);">
</div>
<table border="1" id="playersTable" class="hideGames">
<tr>
<th>Place<th>Name<th>Rating<th>Rank
{% for round in rounds %}
<th class="individualGame">{{ round.date }}
{% endfor %}
<th>Score<th>Games
{% for player in players %}
<tr><td>{{loop.index}} ({{player.place_diff(loop.index)}})
<td>{{player.name}}
<td>{{player.currentrating}} ({{player.rating_diff()}})
<td>{{player.currentrating.rank()}}
{% for resultlist in player.results %}
<td class="individualGame">
{% for result in resultlist %}
{{ result }}
{% endfor %}
{% endfor %}
<td>{{player.score}}
<td>{{player.games}}
{% endfor %}
</table>
<br>
<table border="1">
<tr><td>Games<td>{{games}}
<tr><td>White wins<td>{{white_wins}}
<tr><td>Black wins<td>{{black_wins}}
<tr><td>Jigo<td>{{jigo}}
{% if forfeit != 0 %}
<tr><td>Forfeit<td>{{forfeit}}
{% endif %}
</table>
{% endblock %}
